<style>
    body {
        background-color: #051B2A;
        /* background-attachment: fixed; */
        background-size: 100%;
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        /* overflow :hidden; */
    }
</style>


<main class="signin_body">
    <form action="/signin" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <% if flash[:error]%>
                <p class="signin_flash_error">
                    <%= flash[:error]%>
                </p>
                <%end%>

                <%= image_tag 'fluid.png' , alt: 'icon' , class: "fluid" %>

                <%= image_tag 'fluid.png' , alt: 'icon' , class: "fluid1" %>


                <div class="login_container">

                    <div class="login_account_title_div">
                        <p class="login_account_title">
                            Hello Again !
                        </p>
                        <p class="login_text2">Don't have an account?</p>

                        <a href="/users/new" class="signin_signup">Sign up</a>
                    </div>

                    <div class="signin_email_div">
                        <input placeholder="Mail ID" type="email" class="signin_email" id="email" name="user[email]"></div>

                        <div class="signin_password_div">

                            <input placeholder="Password" type="password" class="signin_password" id="password" name="user[password]"></div>

                            <div class="signin_submit_button">
                                <button type="submit" class="signin_create_button">Sign in</button>
                            </div>


                        </div>

                        <div>
                            <%= image_tag '22.png' , alt: 'icon' , class: "man" %>
                        </div>

                    </form>
                </main>
