<style>
  body {
    background-image: url(<%= asset_path('blogs_bg.png') %>);
    /* background-attachment: fixed; */
    background-size: 100%;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;

  }
</style>


<%= content_for :title, "Index" %>
  <div id="first_main">
    <div id="blog_header">
      <div class="navbar">
        <a href="http://localhost:3000/home" id="home">Home</a>
        <a href="" id="achivements">News</a>
        <a href="/blogs" data-method="get" id="profile">Blogs</a>
        <a href="" id="about">About Us</a>
      </div>

      <a href="">
        <%= image_tag("logo_3-removebg-preview.png",class: "logo" ) %>
      </a>
      <%= image_tag("magnifying-glass.png",class: "icon" ) %></a>
        <% if @presence !=1 %>
          <%= link_to "/users/new" , method: :get do %>
            <div class="subscribe_button"></div>
            <% end %>
              <% elsif @presence==1 %>
                <p class="user_firstname">
                  <%= @current_user.first_name%>
                </p>
                <% end %>
    </div>

    <p class="blog_title1">Hi Blogger</p>
    <p class="blog_title2">This Page is for You</p>
    <p class="blog_content1"> in this section everyone get an opportunity to <br> express their thoughts about
      freshworks software Academy. <br> write blogs about software Academy and show everyone <br> you are craft person
      ship</p>


    <!-- <button class="more1">More About Us</button> -->

    <div id="icons">
      <%= image_tag("instagram.png",class: "insta" ) %></a>
        <%= image_tag("facebook.png",class: "fb" ) %></a>
          <%= image_tag("twitter.png",class: "twit" ) %></a>
    </div>
    <div class="blog_first_line1"></div>
    <div class="blog_second_line"></div>
    <div class="blog_third_line"></div>
  </div>
  <div class="blog_second_main">
    <div class="blog_titles">
      <p class="blog_titles1">thoughts to words</p>
      <p class="blogs_title2">Blogs</p>
    </div>

<div class="blog_main">
<div class="bolg_user_profile">
  <%= image_tag("blog_user.png",class: "blog_user_icon" ) %>
  <p class="blog_user_name">
    Shayam Anandhakumaran
  </p>
  <p class="blog_user_posted">
    Posted On : 2 Days Ago
  </p>

</div>
<div class="blog_content">
 
  <div class="blog_content_div">
  <p class="blog_content_title"> About Spiderman </p>
  <p class="blog_content_para">Are all 3 Spidermans in no way home?
    Things We Saw Today: 'No Way Home' Home-Release Marketing Finally Embraces All Three Spideys! Spider-Man: No Way Home was not only a huge moment for Tom Hollan's Peter Parker, but it was also the first time that fans got to see all three live-action Spider-Man actors together.
</p>
 </div>
 <div class="blog_content_image_div">
  <%= image_tag("spiderman_dp.jpg",class: "spider_icon" ) %>
</div>
</div>

<div class="blog_content_like">
  <%= image_tag("like.png",class: "like_icon" ) %>
  <p>1140 Likes</p>
</div>

<div class="blog_content_dislike">
  <%= image_tag("dislike1.png",class: "dislike_icon" ) %>
  <p>1140 Likes</p>
</div>

<div class="blog_content_comment">
  <%= image_tag("comment.png",class: "comment_icon" ) %>
  <p>20 comments</p>
</div>
</div>
</div>



<div class="blog_second_main1">

    <% @blogs.each do |blog|%>
      <div class="blog_titles">
        <!-- <p class="blog_titles1">thoughts to words</p>
        <p class="blogs_title2">Blogs</p> -->
      </div>

      <div class="blog_main1" style="margin-top: 30px;">
        <div class="bolg_user_profile">
          <% if User.find(blog.user_id).profile_picture.attached? %>
          <%= image_tag(User.find(blog.user_id).profile_picture,class: "blog_user_icon" ) %>
            <p class="blog_user_name">
              <%= User.find(blog.user_id).first_name %>
            </p>
            <% end %>
            <p class="blog_user_posted">
              Posted On : <%= blog.created_at.strftime("%d-%m-%Y") %>
            </p>

        </div>
        <div class="blog_content">

          <div class="blog_content_div">
            <p class="blog_content_title">
              <%= blog.title %>
            </p>
            <p class="blog_content_para">
              <%= blog.blog %>
            </p>
          </div>
          <% if blog.images.attached? %>
          <div class="blog_content_image_div">
            <%= image_tag(blog.images.first)%>
          </div>
          <% end %>
        </div>

        <!-- Delete blog -->
        <% if @presence == 1%>
        <a href="/blogs/<%=blog.id%>" data-method="delete" class="delete_blog_button" %>Delete blog</a>
        <% end %>

        <!-- Add reactions -->
        <% @blog_reaction_value = BlogReaction.where(blog_id: blog.id)%>
        <% if @blog_reaction_value == []%>
        <div>
             <%= form_with(url: "/blogs/reaction/#{blog.id}", method: "post") do|form| %>
              <input type="hidden" name="reaction" value="1">
              <!-- <%= form.submit "Like",class: "blog-submit-button"%> -->
              <p class="blog_like_text_count1" style='cursor:pointer; color : <%= @reaction_boolean=="1" ? ' white' : ' white' %>'>Like
              </p>
              <%=image_submit_tag("like.png",class: "blog-submit-button1")%>
              <% end %>
          </div>
          <div>
          <%= form_with(url: "/blogs/reaction/#{blog.id}", method: "post") do|form| %>
              <input type="hidden" name="reaction" value="0">
              <!-- <%= form.submit "DisLike",class: "blog-submit-button"%> -->
              <p class="blog_dislike_text_count1" style='cursor: pointer; color : <%= @reaction_boolean=="0" ? ' white;' : ' white;' %>'>Dislike
              </p>
              <%=image_submit_tag("dislike1.png",class: "blog-submit-button2")%>
              <% end %>
          </div>
        <% else %>
           <% @like = 0%>
           <% @dislike = 0%>
           <% @user_presence = 0%>
           <% @reaction_boolean = nil %>


          <% @blog_reaction_value.each do |reaction| %>
              <% if reaction.reaction == "1"%>
              <% @like = @like + 1%>
               <% elsif reaction.reaction == "0"%>
              <% @dislike = @dislike + 1%>
             <% end %>
           <% end %>


           <% @blog_reaction_value.each do |reaction| %>
             <% if reaction.user_id == @current_user.id%>
             <%@user_presence = 1%>
             <%@reaction_boolean =reaction.reaction %>
             <% @reaction_value = reaction.id %>
             <% break %>
            <% else%>
            <%@user_presence = 0%>
           <% end %>
        <% end %>
        <% end %>

        <% if @user_presence == 0 %>
        <div>
            <%= form_with(url: "/blogs/reaction/#{blog.id}", method: "post") do|form| %>
            <input type="hidden" name="reaction" value="1">
                <%= form.submit "Like",class: "blog-submit-button"%>
            </div>
        <% end %>
        <div>
            <%= form_with(url: "/blogs/reaction/#{blog.id}", method: "post") do|form| %>
            <input type="hidden" name="reaction" value="0">
                <%= form.submit "dislike",class: "blog-submit-button"%>
            </div>
        <% end %>
        <% elsif @user_presence == 1 %>
        <% if @reaction_boolean == "0"%>
            <div>
                <%= form_with(url: "/blogs/reaction/#{@reaction_value}", method: "put") do|form| %>
                <input type="hidden" name="reaction" value="1">
                    <p class="blog_like_text_count1" style='cursor:pointer; color : <%= @reaction_boolean=="1" ? ' white' : ' white' %>'>Like
                    </p>
                    <%=image_submit_tag("like.png",class: "blog-submit-button1")%>
                <% end %>
                <%=@like%>
            </div>
            <div>
           <p class="like_count_numbers"><%=@like%></p>
            </div> 
            <div>
                <%= form_with(url: "/blogs/reaction/#{@reaction_value}", method: "delete") do|form| %>
                <input type="hidden" name="reaction" value="0">
                    <p class="blog_dislike_text_count1" style='cursor: pointer; color : <%= @reaction_boolean=="0" ? ' white;' : ' white;' %>'>Dislike
                    </p>
                    <%=image_submit_tag("dislike1.png",class: "blog-submit-button2")%>
                <% end %>
            </div>
            <div>
              <p class="dislike_count_numbers"><%=@dislike%></p>
            </div>
            
            <% elsif @reaction_boolean == "1"%>
            <div>
                <%= form_with(url: "/blogs/reaction/#{@reaction_value}", method: "delete") do|form| %>
                <input type="hidden" name="reaction" value="1">
                    <p class="blog_like_text_count1" style='cursor:pointer; color : <%= @reaction_boolean=="1" ? ' white;' : ' white;' %>'>Like
                    </p>
                    <%=image_submit_tag("like.png",class: "blog-submit-button1")%>
                   
                <% end %>
            </div>
            <div class="like_count_numbers"> <%=@like%></div>
           
            <div>
                <%= form_with(url: "/blogs/reaction/#{@reaction_value}", method: "put") do|form| %>
                <input type="hidden" name="reaction" value="0">
                    <p class="blog_dislike_text_count1" style='cursor: pointer; color : <%= @reaction_boolean=="0" ? ' blue;' : ' white;' %>'>Dislike
                    </p>
                    <%=image_submit_tag("dislike1.png",class: "blog-submit-button2") %>
                <% end %>
            </div>
            <div class="dislike_count_numbers"> <%=@dislike%></div>
        <% end %>
      <% end %>
      

      </div>

      
      <% end %>

  </div>

  <div class="add_blog_form">
    <%= form_with(url: "/blogs", method: "post") do |form| %>
    <h2 class="heading-field">Add your blog here...</h2>
    <div class="add_blog_form_div">
      <div class="input_field_whole_div">
    <div class="input_field_div">
      <input placeholder="Title" type="text" name="blog[title]" id="blog[title]" class="valid">
      <!-- <%= form.text_field "blog[title]",placeholder: "Title"%> -->
    </div>
    <div class="input_field_div">
      <input multiple="multiple" class="blog-file-button" type="file" name="blog[images][]" id="blog[images]" style="display: none;">
      <label for="blog[images]" class="upload-button-lable">
        <span class="upload-button-span">
        <%=image_tag("upload-img.png",class: "upload-button")%>
      </span>
        <span class="upload-button-add-image">Add image</span>
      </label>
      <!-- <%= form.file_field "blog[images]", multiple: true ,class: "blog-file-button" %> -->
    </div>
    </div>
    <div class="input_field_div1">
    <textarea placeholder="Blog" type="text" name="blog[blog]" id="blog[blog]" class="valid">
      </textarea>
      <label>Blog</label>
      <!-- <%= form.text_field "blog[blog]",placeholder: "Blog" %> -->
    </div>
    <div class="input_field_div2">
      <input type="submit" name="commit" value="Submit" class="blog-submit-button" data-disable-with="Submit">
      <!-- <%= form.submit "Submit",class: "blog-submit-button" %> -->
    </div>
</div>
  <% end %>
  </div>

  <script>

    function likeiconoutline() {
      document.getElementById("like-icon2").style.display = "block";
      document.getElementById("like-icon1").style.display = "none";
      document.getElementById("dislike-icon1").style.display = "block";
      document.getElementById("dislike-icon2").style.display = "none";
    }
    function likecountline() {
      document.getElementById("dislike-icon1").style.display = "block";
      document.getElementById("dislike-icon2").style.display = "none";
      document.getElementById("like-icon1").style.display = "block";
      document.getElementById("like-icon2").style.display = "none";
    }
    function dislikeiconoutline() {
      document.getElementById("dislike-icon2").style.display = "block";
      document.getElementById("dislike-icon1").style.display = "none";
      document.getElementById("like-icon1").style.display = "block";
      document.getElementById("like-icon2").style.display = "none";
    }
    function dislikecountline() {
      document.getElementById("dislike-icon1").style.display = "block";
      document.getElementById("dislike-icon2").style.display = "none";
      document.getElementById("like-icon1").style.display = "block";
      document.getElementById("like-icon2").style.display = "none";
    }


  </script>




    


  